* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Pretendard', 'Arial', sans-serif;
  background: $color-bg-dark;
  color: $color-text-primary;
  line-height: 1.6;
}

p {
  font-size: 1rem;
  color: $color-text-secondary;
}

ul {
  margin: 10px 0 20px;
  padding-left: 20px;
}

a {
  color: $color-accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
